{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid mt-3">
        <div class="container-fluid">
            <div class="shadow rounded">
                <div class="carousel m-0 row flex-row flex-nowrap">

                 <div class="position-relative m-2 ml-2 col-1">
                    <div class="position-relative" style="width: 100px; height:100px; border-radius:50%; border: 2px solid #273dab; padding: 1px;">
                     <img src="https://nextbootstrap.netlify.app/assets/images/profiles/2.jpg" alt="..." class="img-fluid rounded-circle">
                   </div>
                 </div>
                 
                  <div class="position-relative m-2 ml-2 col-1">
                    <div class="position-relative" style="width: 100px; height:100px; border-radius:50%; border: 2px solid #273dab; padding: 1px;">
                     <img src="https://nextbootstrap.netlify.app/assets/images/profiles/3.jpg" alt="..." class="img-fluid rounded-circle">
                   </div>
                 </div>
           
                  <div class="position-relative m-2 ml-2 col-1">
                    <div class="position-relative" style="width: 100px; height:100px; border-radius:50%; border: 2px solid #273dab; padding: 1px;">
                     <img src="https://nextbootstrap.netlify.app/assets/images/profiles/4.jpg" alt="..." class="img-fluid rounded-circle">
                   </div>
                 </div>

             </div>
            </div>
        </div>
    </div>
<hr style="background-color: #273dab;">


<div class="container-fluid">
    <div class="row">
        <div class="col-md-7 text-center">
            <div class="container">
              {% for post in post_items %}
                <section class="mx-auto my-5">
                  <div class="card">
                    <div class="card-body d-flex flex-row">
                      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle me-3" height="50px"
                        width="50px" alt="avatar" />
                      <div>
                        <h5 class="card-title font-weight-bold mt-3 pl-4">{{ post.user.username }}</h5>
                      </div>
                    </div> 
                    <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                      <img class="img-fluid" src="{{ post.picture.url }}"
                        alt="Card image cap" />
                      <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </a>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <p class="text-primary pl-3">{{ post.caption }}</p>
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <a href="{% url 'like' post.id %}"><span class="material-icons m-2">favorite</span></a>
                          <a href=""><span class="material-icons m-2">mode_comment</span></a>
                          <a href=""><span class="material-icons m-2">send</span></a>
                        </div>
                        <!-- <a class="btn btn-link link-danger p-md-1 my-1" data-mdb-toggle="collapse" href="#collapseContent"
                          role="button" aria-expanded="false" aria-controls="collapseContent">LIKES </a> -->
                        <p><span class="text-danger">{{ post.likes }}</span>&nbsp Likes  &nbsp&nbsp&nbsp <span></span>&nbsp Comments</p>
                      </div>
                      <div class="row pl-3 pt-2">
                        <p>{{post.posted}}</p>
                      </div>
                      <div class="row pl-3">
                        {% for tag in post.tag.all %}
                          <a href="{{tag.get_absolute_url}}"><p>#{{tag}},</p></a>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </section>
              {% endfor %}
            </div>
        </div>


        <div class="col-md-5 text-center">
          <section class="vh-100">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-12 col-xl-10">
          
                  <div class="card">
                    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative;">
          
                      <table class="table mb-0">
                        <tbody>

                          <tr class="fw-normal">
                            <th>
                              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp"
                                class="shadow-1-strong rounded-circle" alt="avatar 1"
                                style="width: 55px; height: auto;">
                              <!-- <span class="ms-2">Alice Mayer</span> -->
                            </th>
                            <td class="align-middle">
                              <span>Call Sam For payments</span>
                            </td>
                            <td class="align-middle">
                              <!-- <a href="#!" data-mdb-toggle="tooltip" title="Done"><i
                                  class="fas fa-check text-success me-3"></i></a>
                              <a href="#!" data-mdb-toggle="tooltip" title="Remove"><i
                                  class="fas fa-trash-alt text-danger"></i></a> -->
                              <button class="btn btn-primary">follow</button>
                            </td>
                          </tr>
                          
                        </tbody>
                      </table>
          
                    </div>
                  </div>
          
                </div>
              </div>
            </div>
          </section>
        </div>
    </div>
</div>
<style>
    img.profile-photo-lg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    }
</style>
{% endblock content %}
